.featured {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

.featured__title {
	font-size: var(--size-2xl);
	color: var(--clr-subtle);
}

@media (min-width: 475px) {
	.featured {
		gap: 1.5rem;
	}

	.featured__title {
		font-size: var(--size-3xl);
	}
}

@media (min-width: 1024px) {
	.featured__title {
		font-size: var(--size-4xl);
	}
}

@media (min-width: 1280px) {
	.featured__title {
		font-size: var(--size-5xl);
	}
}
