:root {
	clr_base: #faf4ed;
	clr_surface: #fffaf3;
	clr_overlay: #f2e9e1;
	clr_muted: #9893a5;
	clr_subtle: #797593;
	clr_text: #575279;
	clr_red: #b4637a;
	clr_yellow: #ea9d34;
	clr_magenta: #d7827e;
	clr_green: #286983;
	clr_cyan: #56949f;
	clr_violet: #907aa9;
	clr_highlight: #cecacd;
}
